:root {
  --page-size: 25;

  --bg-color: #1e1e1e;
  --fg-color: #d4d4d4;
  --border-color: #333333;
  --btn-fg-color: #cccccc;

  --scroll-track-bg-color: var(--bg-color);
  --scroll-thumb-bg-color: var(--border-color);
  --scroll-thumb-hover-bg-color: #444444;

  --result-item-tab-fg-color-base: #dcdcaa;
  --result-item-tab-fg-color: var(--result-item-tab-fg-color-base);

  --result-item-curr-tab-decoration-color: rgba(255, 99, 71, 64%);

  --matched-text-highlight-fg-color-base: #0e639c;
  --matched-text-highlight-fg-color: var(--matched-text-highlight-fg-color-base);

  --result-item-hove-bg-color: rgba(138, 43, 226, 0.15);
  --result-item-active-bg-color: rgba(138, 43, 226, 0.3);

  --dialog-bg-color: oklch(from var(--bg-color) calc(l + 0.05) c h);
  --dialog-fg-color: oklch(from var(--fg-color) calc(l + 0.1) c h);

  --select-option-hover-bg-color: oklch(from var(--bg-color) calc(l + 0.1) c h);
}

[theme='light'] {
  --bg-color: #fafafa;
  --fg-color: #161616;
  --border-color: #333333;
  --btn-fg-color: #363535;

  --scroll-thumb-bg-color: #444444;
  --scroll-thumb-hover-bg-color: var(--border-color);

  --result-item-tab-fg-color: #8f1000;
  --result-item-curr-tab-decoration-color: rgba(3, 116, 3, 0.906);

  --matched-text-highlight-fg-color: oklch(
    from var(--matched-text-highlight-fg-color-base) calc(l + 0.1) c h
  );

  --result-item-hove-bg-color: rgba(138, 43, 226, 0.05);
  --result-item-active-bg-color: rgba(138, 43, 226, 0.15);

  --dialog-bg-color: var(--bg-color);
  --dialog-fg-color: var(--fg-color);

  --select-option-hover-bg-color: oklch(from var(--bg-color) calc(l - 0.1) c h);
}

* {
  box-sizing: border-box;
}

body {
  width: 800px;
  min-height: 500px;
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);

  transition: width 250ms, height 250ms;
  overflow: hidden;

  font-family: Consolas, 'Courier New', monospace;
}

main {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.border {
  margin: 2px;
  padding: 2px;
  border: solid 2px var(--border-color);
  border-radius: 4px;
}

.searchBoxContainer {
  display: flex;
  padding: 8px;
}

.searchBoxContainer span {
  font-weight: 500;
  font-size: 1.3em;
  margin-right: 8px;
}

#searchBox {
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  width: 100%;
}

#showHelpBtn {
  color: var(--btn-fg-color);
  cursor: pointer;
}

.searchResults {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}

.searchResults ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block: 0;
  height: calc(var(--page-size) * 20px);
}

.searchResults li {
  outline: none;
  user-select: none;
  padding: 2px 1ch;
  padding-inline-start: 4ch;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 20px;
  font-size: 1.1em;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.searchResults li[data-close-tab] {
  position: relative;
}

.searchResults li[data-close-tab]::before {
  content: '[x]';
  position: absolute;
  /* left: -2ch; */
  left: 0ch;
}

.searchResults li.t {
  color: var(--result-item-tab-fg-color);
}

.searchResults li.currTab {
  text-decoration: underline var(--result-item-curr-tab-decoration-color);
}

.highlighted {
  color: var(--matched-text-highlight-fg-color);
}

.searchResults li:hover {
  background-color: var(--result-item-hove-bg-color);
}

.searchResults li.active {
  background-color: var(--result-item-active-bg-color);
}

.searchResults::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.searchResults::-webkit-scrollbar-track {
  background-color: var(--scroll-track-bg-color);
}

.searchResults::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg-color);
}

.searchResults::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-bg-color);
}

#helpDialog {
  background-color: var(--dialog-bg-color);
  color: var(--dialog-fg-color);
  border: solid 2px var(--border-color);
  border-radius: 4px;

  select,
  option {
    background-color: var(--bg-color);
    color: var(--fg-color);
  }

  select,
  ::picker(select) {
    appearance: base-select;
  }

  option:checked {
    font-weight: bold;
  }

  select::picker-icon {
    transition: 0.4s rotate;
  }

  select:open::picker-icon {
    rotate: 180deg;
  }

  option:hover,
  option:focus {
    background-color: var(--select-option-hover-bg-color);
  }
}
